[submodule "vendor/igraph"]
	path = vendor/igraph
	url = https://github.com/igraph/igraph.git
[submodule "vendor/libleidenalg"]
	path = vendor/libleidenalg
	url = https://github.com/vtraag/libleidenalg.git
